*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.cpp linguist-detectable=false
*.hpp linguist-detectable=false
*.mm linguist-detectable=false
*.mak linguist-detectable=false
*.plist linguist-detectable=false
*.pyc linguist-detectable=false
*.pch linguist-detectable=false
*.xcodeproj linguist-detectable=false
*.xcworkspace linguist-detectable=false
*.xcconfig linguist-detectable=false
*.xcassets linguist-detectable=false
*.xcdatamodel linguist-detectable=false
*.xcdatamodeld linguist-detectable=false
*.pbxproj linguist-detectable=false
*.pbxuser linguist-detectable=false
*.pbxgroup linguist-detectable=false
*.xcscheme linguist-detectable=false
*.plist.template linguist-detectable=false
*.plist.in linguist-detectable=false
*.plist.in.template linguist-detectable=false
*.plist.in.in linguist-detectable=false
*.plist.in.in.template linguist-detectable=false
